<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Codeial - Your Social Network</title>
	<!-- Add any CSS stylesheets and JavaScript files here -->
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-QTmoNjK92gP60D/u8QvI1aQ6B2nX1jD6U8v6UfILYrEjKkZnW1Iz6PX7ybbM4N4V7J0AKxdRsNt7qu5/vQZcNg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-DQP9clB2x47fPDh+Mw1q3MMyKjH+lJz7n4lD/pd4lVCGJx1j31Ll5Y2ZcS+1EdjrJn5o/ZjytkQJRO9jK6tx0A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%- style%>
</head>
<body>
	<!--  adding partials -->
     <%-include('_header')%>
	 
       <%- body %>

    
     <%-include('_footer')%>
	
    <!-- <script src="/js/home.js"></script> -->
    <%- script%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-8JmLsXC/xX9zNRgI5f7cJQ8xw05pfNjM/AEiZvzOkDhJXzy7Zu91nPJ0aPGVUrD5j75S7V5m5NM5JvVlavY5w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js" integrity="sha512-6WN5qXr5I6v5U5jC8H6mzJW8ny+6Rz/UZuxBPv6U5ygW1J0Ij+3yD5V7JNPGC8SXV7NULZQ+uVxMxLLQQ+xOyA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-Q1n4n4w3OLJhjxlyvcGn8JgMfS9BdObXTvSZKQH/X1EG4w4qZ3bKoAZBLm0H/RhCm0jb9dzdF/1clD+OokOoYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>
