<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Codeial - Your Social Network</title>
	<!-- Add any CSS stylesheets and JavaScript files here -->
    <%- style%>
</head>
<body>
	<!--  adding partials -->
     <%-include('_header')%>
	 
       <%- body %>

    
     <%-include('_footer')%>
	
    <!-- <script src="/js/home.js"></script> -->
    <%- script%>
</body>
</html>
